
body{
    background: url(https://cdn.pixabay.com/photo/2019/09/04/02/52/animal-4450613_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}








.textTitle{
    position:relative;
    color: #ffffff;
    font-size: 28px;
    margin-left: 5%;
    margin-top: 10%;
    font-family: 'Righteous', sans-serif;
}

.date{
    position:relative;
    color: #7D7C7C;
    font-size: 10px;
    margin-left: 5%;
    margin-top: 10px;
}

/*****************************************************************************

              Chart-----------------------------------------------------------

*****************************************************************************/







@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*
body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
*/
.main-container {
    
    
    font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-top: -20px;
    
	background: background: url(https://res.cloudinary.com/muhammederdem/image/upload/v1536405234/starwars/death_star.jpg) ;
  
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	/*width: 440px;*/
	height: 250px;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
	overflow-x: auto;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #5397d6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 1%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}
.h-may {
	height: 1%;
}
.h-apr {
	height: 40%;
}
.h-00 {
	height: 1%;
}



.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}



.balan{
    color: #ff0000;
}



/************************************************************************************

                NEXT ELEMENTS


***********************************************************************************/





.bull{
    width: 50%;
    margin-top: 5%;
    margin-left: 23%;
}

.svgg{
    width: 40%;
    margin-left: 25%;
    margin-top: 10%;
}







/**************************************************************************/



.details{
    color: #abafc6;
    font-family: 'Aboreto', cursive;
    font-size: 20px;
    /*margin-left: 84px;*/
    margin-top: 30px;
    text-align: center;
}



.loader{
    margin-left: 80px;
    margin-top: 80px;
}

.l {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #000000;
}

.o {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #000000;
}

.a {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.d {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 0.8s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.i {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.n {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.g {
  color: #ffffff;
  opacity: 0;
  animation: pass 2s ease-in-out infinite;
  animation-delay: 1.4s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.d1 {
  color: #ffffff;
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 1.6s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

.d2 {
  color: #ffffff;
  opacity: 0;
  animation: pass1 2s ease-in-out infinite;
  animation-delay: 2s;
  letter-spacing: 0.5em;
  text-shadow: 2px 2px 3px #ff0000;
}

@keyframes pass {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pass1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/************************************************************************************/




















